

<div id="load" class="load">
<ul>
    {%for device in dataJson.keys()%}
      <li>{{device}}</li>
        <ul>
          <li>Hostname: {{dataJson[device].get("hostname")}}</li>
          <li>IP address: {{dataJson[device].get("ipAddress")}}</li>
          <li>Total memory: {{dataJson[device].get("totalMemory") // 1000}} MB</li>
          <li>Free memory: {{dataJson[device].get("freeMemory") // 1000}} MB</li>
          <li>Temperature: {{dataJson[device].get("temperature") / 1000}}˚C</li>
          <li>Number of CPU cores: {{dataJson[device].get("numOfCPUCores")}}</li>
          <li>Load avarage over 1 minute: {{dataJson[device].get("load1") | round(2)}}</li>
          <li>Load avarage over 5 minutes: {{dataJson[device].get("load5") | round(2)}}</li>
          <li>Load avarage over 15 minutes: {{dataJson[device].get("load15") | round(2)}}</li>
          <li>Normalized load avarage over 1 minute: {{(dataJson[device].get("load1") / dataJson[device].get("numOfCPUCores")) | round(2)}}</li>
          <li>Normalized load avarage over 5 minutes: {{(dataJson[device].get("load5") / dataJson[device].get("numOfCPUCores")) | round(2)}}</li>
          <li>Normalized load avarage over 15 minutes: {{(dataJson[device].get("load15") / dataJson[device].get("numOfCPUCores")) | round(2)}}</li>
        </ul>
    {%endfor%}
  </ul>
</div>